<%- article.each do |a| %>
<div class="row">
  <a href="<%= a.link %>">
    <div class="span4 <%= cycle("offset1", "") -%>">
      <div class="article">
        <img class="float-left-img" src="<%= a.img %>"></img>
        <p>
          <%= a.title %>
          <%= render partial: 'no_mouse_link', object: a.link %>
        </p>
      </div>  
    </div>
  </a>
</div>
<% end %>

