<div class="row">
  <div class="span10 offset1 section-container">

    <h1 style="margin-top:-1px; border-top: thick solid black;">
      <%= image_tag("logo.png", class: "logo") %>    
    </h1>

    <% #Premiere %>
    <div class="row">
      <div class="span8 offset1">
        <a href="<%= premiere.couverture.link %>">
          <img class="couverture premiere float-left-img" src="<%= premiere.couverture.image %>"></img>
          <h2> <%= premiere.couverture.title %> </h2>
          <p><%= premiere.couverture.desc %></p>
        </a>
   
        <% # Links related to the premiere %>    
        <ul style="overflow: hidden;">
          <%- premiere.couverture.links.each do |l| %>
            <li style="list-style-position:inside; line-height:1">
              <a class="nomouse" style="font-size:11px" href="<%= l.link %>"><%= l.text %></a>
            </li>             
          <% end %>        
        </ul>
      </div>
    </div>
    
    <div class="row">
    <%- premiere.secondary_articles.each_with_index do |a, i| %>           
        <% if i.even? %> <div class="span4 offset1">
        <% else %>       <div class="span4">  
        <% end %> 
          <a href="<%= a.link %>"> 
            <%= a.title %> 
            <div>
              <img class="float-left-img" style="width:150px" src="<%= a.img %>"></img>
              <p> <%= a.desc %> </p>
            </div>        
          </a>
        </div>              
      <% end %>        
    </div>              

  </div>
</div>
