<div class="row">
  <div class="span10 offset1 section-container">
    
    <% #Logo %>
    <h1 style="margin-top:-1px; border-top: thick solid black;">
      <%= image_tag("logo.png", class: "logo") %>    
    </h1>

    <% #Premiere %>
    <div class="row">
      <div class="span8 offset1">
        <a href="<%= premiere.couverture.link %>">
          <img class="couverture premiere float-left-img" src="<%= premiere.couverture.image %>"></img>
          <h2> <%= premiere.couverture.title %> </h2>
          <p>
            <%= premiere.couverture.desc %>
            <%= render partial: 'no_mouse_link', object: premiere.couverture.link %>
          </p>
        </a>
   
        <% # Links related to the premiere %>    
        <ul style="overflow: hidden;">
          <%- premiere.couverture.links.each do |l| %>
            <li style="list-style-position:inside; line-height:1">
              <a href="<%= l.link %>">
              <%= l.text %>
              <%= render partial: 'no_mouse_link', object: l.link %>
              </a>
            </li>             
          <% end %>        
        </ul>
      </div>
    </div>
    
    <%- premiere.secondary_articles.in_groups_of(2) do |a| %>           
    <div class="row">
      <div class="span4 offset1">    
        <a href="<%= a.first.link %>"> 
          <%= a.first.title %>
          <div>
            <img class="float-left-img" style="width:150px" src="<%= a.first.img %>"></img>
            <p> 
              <%= a.first.desc %> 
              <%= render partial: 'no_mouse_link', object: a.first.link %>
            </p>
          </div>        
        </a>
      </div>              
      <div class="span4">    
        <a href="<%= a.last.link %>"> 
          <%= a.last.title %>
          <div>
            <img class="float-left-img" style="width:150px" src="<%= a.last.img %>"></img>
            <p> 
              <%= a.last.desc %> 
              <%= render partial: 'no_mouse_link', object: a.last.link %>
            </p>
          </div>        
        </a>
      </div>
    </div>              
    <% end %>        

  </div>
</div>
