<div class="row">
  <div class="logo span6 offset3" style="text-align:center">
    <%= image_tag("logo.png", width: "180") %>    
  </div>
  <%= premiere.couverture.title %>
  <%= premiere.couverture.desc %>
  <img src="<%= premiere.couverture.image %>"></img>
  <a href="<%= premiere.couverture.link %>"> lien </a>
    
</div>


