<div class="row">
  <div class="span11 offset1 section-container">

    <h1 style="margin-top:-1px; border-top: thick solid black;">
      <%= image_tag("logo.png", class: "logo") %>    
    </h1>

    <% #Premiere %>
    <div class="row">
      <div class="span9 offset1">
        <a href="<%= premiere.couverture.link %>">
          <img class="couverture premiere float-left-img" src="<%= premiere.couverture.image %>"></img>
          <h2> <%= premiere.couverture.title %> </h2>
          <p><%= premiere.couverture.desc %></p>
    
          <% # Links related to the premiere %>    
          <ul style="overflow: hidden;">
          <%- premiere.couverture.links.each do |l| %>
            <li style="list-style-position:inside; line-height:1">
              <a style="font-size:11px" href="<%= l.link %>"><%= l.text %></a>
            </li>
          <% end %>        
          </ul>
        </a>
      </div>
    </div>
    
    <% # Secondary articles %>
    <div class="row">
    <%- premiere.secondary_articles.each do |a1, a2| %>
      <img class="float-left-img" src="<%= a1.img %>"></img>
      <a href="<%= a1.link %>"> <%= a1.title %> </a> </br>
        <p> <%= a1.desc %> </p>
    <% end %>        
    </div>              

  </div>
</div>
