%p 
- @sections.each do |s|
  %h2= s.header
  %h3= s.main_article.title
  %h4= s.main_article.desc
  %h4= s.main_article.link
  %h4= s.main_article.img
  - s.articles.each do |a|
    %p= a.title 
    %p= a.link
    %p= a.img
    
